<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="header"> Inmobiliaria Roca Rey</section>
    <section class="content">
        <h1>Código de recuperación de contraseña</h1>
        <p>Este es tu código de recuperación de cuenta. Introdúcelo en la ventana del navegador.</p>

        <section class="code_content"></section>

    </section>

    <section class="footer"> Si no has solicitado este correo, no tienes de qué preocuparte; simplemente ignóralo.</section>

</body>
</html>