<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Cotización</title>
    <style>
      body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 160mm;
        height: 221mm;
        font-family: "Inter", sans-serif;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Agrega esta línea para asegurarte de que la imagen se ajuste correctamente */
      }

      .title-container {
        display: flex;
        height: 20px;
        width: 70%;
      }
      hr {
        margin-top: -0.3px;
        border-top: 1px double #8c8b8b;
        border-bottom: none;
        width: 100%;
      }

      .data-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
      }
    </style>
  </head>
  <body>
    <img src="{{base64}}" />
    <div
      style="
        position: absolute;
        top: 40px;
        left: 30px;
        right: 30px;
        width: 90%;
        height: 200mm;
      "
    >
      <h1 style="font-size: 18px; margin-top: 30px">COTIZACIÓN DE PROPIEDAD</h1>
      <div class="title-container">
        <div>Datos del cliente</div>
        <hr />
      </div>
      <table style="margin-top: 10px; width: 100%">
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Nombre Completo</label>
          </td>
          <td style="width: 60%; font-size: 10px">
            <label>{{formatData.cliente.nombre}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>DNI</label>
          </td>
          <td style="width: 60%; font-size: 10px">
            <label>{{formatData.cliente.dni}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Correo</label>
          </td>
          <td style="width: 60%; font-size: 10px">
            <label>{{formatData.cliente.correo}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Celular</label>
          </td>
          <td style="width: 60%; font-size: 10px">
            <label>{{formatData.cliente.celular}}</label>
          </td>
        </tr>
      </table>
      <br />
      <div class="title-container">
        <div>Datos de las propiedades</div>
        <hr />
      </div>
      <table style="margin-top: 10px; width: 100%">
        <tr style="margin-top: 5px">
          <th
            style="
              width: 25%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            Nombre
          </th>
          <th
            style="
              width: 25%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            Tipo
          </th>
          <th
            style="
              width: 25%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            Precio
          </th>
          <th
            style="
              width: 25%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            Zona
          </th>
        </tr>
        <tr>
          <td style="text-align: center; font-size: 10px">
            {{formatData.propiedad.nombre}}
          </td>
          <td style="text-align: center; font-size: 10px">
            {{formatData.propiedad.tipo}}
          </td>
          <td style="text-align: center; font-size: 10px">
            {{formatData.propiedad.precio}}
          </td>
          <td style="text-align: center; font-size: 10px">
            {{formatData.propiedad.zona}}
          </td>
        </tr>
      </table>
      <table style="margin-top: 10px; width: 100%">
        <tr style="border: 1px solid green">
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Descripción</label>
          </td>
          <td
            style="
              width: 80%;
              font-size: 10px;
              padding: 2px;
              text-align: justify;
            "
          >
            <label>{{formatData.propiedad.descripcion}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Caracteristicas</label>
          </td>
          <td
            style="
              width: 80%;
              font-size: 10px;
              padding: 4px;
              text-align: justify;
            "
          >
            <label>{{formatData.propiedad.caracteristicas}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Metraje</label>
          </td>
          <td
            style="
              width: 80%;
              font-size: 10px;
              padding: 4px;
              text-align: justify;
            "
          >
            <label>{{formatData.propiedad.metraje}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Área libre</label>
          </td>
          <td
            style="
              width: 80%;
              font-size: 10px;
              padding: 4px;
              text-align: justify;
            "
          >
            <label>{{formatData.propiedad.areaLibre}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Cochera</label>
          </td>
          <td
            style="
              width: 80%;
              font-size: 10px;
              padding: 4px;
              text-align: justify;
            "
          >
            <label
              >{{#if formatData.propiedad.cocheraAdicional}} Sí {{else}} No
              {{/if}}</label
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Observaciones</label>
          </td>
          <td
            style="
              width: 80%;
              font-size: 10px;
              padding: 4px;
              text-align: justify;
            "
          >
            <label>{{formatData.propiedad.observaciones}}</label>
          </td>
        </tr>
      </table>

      <br />
      <div class="title-container">
        <div>Datos del agente</div>
        <hr />
      </div>
      <table style="margin-top: 10px; margin-top: 20px; width: 100%">
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Nombre Completo</label>
          </td>
          <td style="width: 60%; font-size: 12px">
            <label>{{formatData.trabajador.nombre}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>DNI</label>
          </td>
          <td style="width: 60%; font-size: 12px">
            <label>{{formatData.trabajador.dni}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Correo</label>
          </td>
          <td style="width: 60%; font-size: 12px">
            <label>{{formatData.trabajador.correo}}</label>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 20%;
              text-align: center;
              font-size: 12px;
              font-weight: bold;
            "
          >
            <label>Celular</label>
          </td>
          <td style="width: 60%; font-size: 12px">
            <label>{{formatData.trabajador.celular}}</label>
          </td>
        </tr>
      </table>
    </div>
    <img src="{{base64}}" />
    <div
      style="
        position: absolute;
        top: 230mm;
        left: 30px;
        right: 30px;
        width: 90%;
        height: 200mm;
      "
    >
      <br />
      <h1 style="font-size: 16px; margin-top: 30px">ANEXO A:</h1>
      <h1 style="font-size: 16px; margin-top: 10px">
        IMAGENES DE LAS PROPIEDADES
      </h1>

      <br />
      <br />
      <div style="display: block; overflow: auto;">
        {{#each formatData.propiedad.imagenes}}
        <div style="width: 33%; box-sizing: border-box; padding: 10px; float: left;">
          <img
            src="{{this.dataValues.url}}"
            alt="Imagen"
            style="width: 100%; height: auto;"
          />
        </div>
        {{/each}}

      </div>

    </div>
  </body>
</html>
