<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
    <style>
      body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 210mm;
        height: 270mm;
        font-family: "Inter", sans-serif;
      }
      .page {
        position: relative;
        width: 100%;
        height: 270mm;
        padding: 50px;
        z-index: 10;
        margin-top: 80px;
      }


    </style>
  </head>
  <body>
    <img
    src="{{base64}}"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    "
  />
    <div class="page" >
      <h1 style="font-size: 26px">COTIZACIÓN DE PROPIEDAD</h1>
      <h5 style="margin-top: 30px; font-size: 18px; font-weight: bold;">{{formatData.nombre}}</h3>
      <hr style="margin-top: -20px; width: 75%; margin-left: 0;"/>

      <div style="margin-top: 30px;">

        <label for="" style="color: #292E7F; font-size: 16px; ">Precio</label>
        <p style="color: #292E7F; font-size: 18px; font-weight: bold;margin-top: -1px;">S/ {{formatData.precio}}</p>
      </div>
      <table style="width: 100%; margin-bottom: 20px;">
        <tr>
          <td style="width: 50%; text-align: left; height: 30px; font-size: 16px;"><i class="fa-solid fa-location-dot" style="color: #E38102 ;"></i>
            <label for=""><strong>Zona:</strong>  <label for="">{{formatData.zona}}</label></label></td>
          <td style="width: 50%; text-align: left; height: 30px;font-size: 16px;"><i class="fa-solid fa-ruler-combined" style="color: #E38102 ;"></i><label for=""> <strong>Metraje:</strong>  <label for="">{{formatData.metraje}}</label></label></td>
        </tr>    
        <tr>
          <td style="width: 50%; text-align: left; height: 30px;font-size: 16px;"><i class="fa-solid fa-tree" style="color: #E38102 ;"></i><label for=""> <strong>Área libre:</strong>  <label for="">{{formatData.areaLibre}}</label></label></td>
          <td style="width: 50%; text-align: left; height: 30px;font-size: 16px;"><i class="fa-solid fa-warehouse" style="color: #E38102 ;"></i><label for=""> <strong>Cochera adicional:</strong>  <label for="">{{#if formatData.cocheraAdicional}} Sí {{else}} No
            {{/if}}</label></label></td>
        </tr>      

      </table>
        <hr>
      <div style="display: flex; flex-direction: column; gap:30px; margin-top: 40px;">
          
          <div style="font-size: 16px; text-align: justify; background: #E5EAFB; border-radius: 8px; padding: 8px; padding-left: 10px; padding-right: 10px;">
            <p style="font-size: 16px; font-weight:bold">Descripción</p>
            {{formatData.descripcion}}
          </div>

          <div style="font-size: 16px; text-align: justify; background: #E5EAFB; border-radius: 8px; padding: 8px;">
            <p style="font-size: 16px; font-weight:bold">Caracteristicas</p>
            {{formatData.caracteristicas}}
          </div>

          <div style="font-size: 16px; text-align: justify; background: #E5EAFB; border-radius: 8px; padding: 8px;">
            <p style="font-size: 16px; font-weight:bold">Observaciones</p>
            {{formatData.observaciones}}
          </div>
      </div>
    </div>
  </body>
</html>
